$primary: #fefd9e;
$primary-1: #ffda3c;
$primary-2: #f07225;
$secondary: #d358f9;
$secondary-1: #b116ee;
$black: #101010;
$black-0: #050505;
$white: #fff;

//  colors
$pink: #d093a6;
$green: #8bf4a6;
$blue: #79cbe9;
$orange: #79cbe9;

$font-primary: 'Lilita One', sans-serif;
