.pageintro {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: $white;

  // display
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &._transition {
      z-index: -1;
    }
  }
}
